version : "3.8"

services:
  app:
    build : .
    container_name: kopsis_spensa
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always

  db:
    image: postgres:15
    container_name: pg-local
    environment:
      POSTGRES_USER : postgres
      POSTGRES_PASSWORD : kopsis_spensa162*
      POSTGRES_DB : kopsis_spensa
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always
  redis:
    image: redis:7
    container_name: redis_kopsis
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    restart: always
volumes:
  db_data:
  redis_data: